.post-comments {
  display: flex;
  flex-flow: column;
}
.post-comments__form {
  align-content: stretch;
  display: flex;
  flex-flow: row wrap;
  background: lightgrey;
}
.post-comments__name {

}
.post-comments__content {
  flex: 1;
}
.post-comments__btn {
  background: green;
  padding: 10px;
}
