.header {
  background: #eee url('../../header-bk.png') center;
  background-size: cover;
  border-bottom: 1px solid #ccc;
}

.top-bar {
  width: 100%;
  max-width: 980px;
  margin: auto;
  display: flex;
  background: rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

.content {
  width: 100%;
  max-width: 980px;
  margin: auto;
  padding: 64px 16px;
  overflow: auto;
}

.site-title {
  font-weight: 300;
  font-size: 42px;
  float: left;
}

.site-title a {
  text-decoration: none;
  color: #FFF;
}

.add-post-button {
  display: inline-block;
  color: #FFF;
  background: #03A9F4;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 1000px;
  float: right;
  transition: 0.3s;
}

.add-post-button:hover {
  background: rgba(0, 0, 0, 0.5);
}

.language-switcher {
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.language-switcher__language {
  cursor: pointer;
  padding: 10px;
  color: #fff;
  transition: 0.2s;
}

.language-switcher__language:hover {
  background: rgba(0,0,0,0.5);
}
.language-switcher span {
  color: rgba(255, 255, 255, 0.7);
  padding: 10px 20px;
}

.selected {
  border-bottom: 1px solid #fff;
}

@media (max-width: 767px){
  .add-post-button{
    float: left;
    margin-top: 16px;
  }
}
